@page
@model BD.RazorPages.Pages.Public.BloodCompatibilityPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BloodCompatibility</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodCompatibility.RecipientBloodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodCompatibility.RecipientBloodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodCompatibility.DonorBloodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodCompatibility.DonorBloodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodCompatibility.ComponentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodCompatibility.ComponentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodCompatibility.IsCompatible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodCompatibility.IsCompatible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodCompatibility.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodCompatibility.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BloodCompatibility.CompatibilityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
